<%if (calculations) { %>
  <table class="table is-bordered is-striped is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th>Metric</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <%  Object.keys(calculations).forEach(function (key) { %>
        <tr>
          <td><%= labels[key] %></td>
          <td><%= calculations[key] %></td>
        </tr>
      <% }) %>  
    </tbody>
  </table>
<% } %>