<div class="section form">
    <div class="content">
        <form action="/" method="post">
            <div class="formWrapper">
                <div class="column">
                    <% fields.forEach(function(field) { %>
                        <%if (field.type === 'text' && field.name !== 'utilPower') { %>
                            <div>
                                <label for="<%= field.name %>">
                                    <b>
                                        <%= field.label %>
                                        <%if (field.required === true) { %> *<% }; %>
                                    </b>
                                </label>
                                <input
                                    class="input formField"
                                    type="<%= field.type %>"
                                    name="<%= field.name %>"
                                    id="<%= field.name %>"
                                    value="<%= field.default || field.value %>"
                                />
                            </div>
                            <div>
                                <%if (errors.length) { %>
                                    <% errors.forEach(function(err) { %>
                                        <%if (err.param === field.name) { %>
                                            <div class='errorText'><%= err.msg %></div>
                                        <% }; %>
                                    <% }); %>
                                <% } %>
                            </div>
                        <% } %>
                    <% }); %>
                </div>
                <div class="column">
                    <% fields.forEach(function(field) { %>
                        <%if (field.name === 'utilPower' || field.type === 'number') { %>
                            <div>
                                <label for="<%= field.name %>">
                                    <b>
                                        <%= field.label %>
                                        <%if (field.required === true) { %> *<% }; %>
                                    </b>
                                </label>
                                <input
                                    class="input formField"
                                    type="<%= field.type %>"
                                    name="<%= field.name %>"
                                    id="<%= field.name %>"
                                    value="<%= field.default || field.value %>"
                                    placeholder="<%= field.helperText %>"
                                />
                            </div>
                            <div>
                                <%if (errors.length) { %>
                                    <% errors.forEach(function(err) { %>
                                        <%if (err.param === field.name) { %>
                                            <div class='errorText'><%= err.msg %></div>
                                        <% }; %>
                                    <% }); %>
                                <% } %>
                            </div>
                        <% } %>
                    <% }); %>
                </div>
            </div>
            <sub>Fields marked with "*" are required.</sub>
            <input type="submit" class="button is-primary submitButton" value="Submit" />
        </form>
    </div>
</div>