<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="./stylesheets/bulma.min.css">
    <script defer src="./javascripts/fontAwesome.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>