body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.section {
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 8px;
}

.section .content {
  padding: 16px;
}

.section.form .formWrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
} 

.section.form .formWrapper .column {
  width: 49%;
}
@media only screen and (max-width: 700px) {
  .section.form .formWrapper {
    flex-direction: column;
  } 
  
  .section.form .formWrapper .column {
    width: 100%;
  }
}

.section.form .formWrapper .column .formField {
  margin-bottom: 1.2rem;
}

.section.form .formWrapper .column label {
  text-transform: capitalize;
}

.section.form .submitButton {
  float: right;
}

.errorText {
  line-height: 0.8rem;
  font-size: 0.7rem;
  padding-top: 0.1rem;
  color: red;
  margin-top: -1rem;
  float: right;
}

